#galireya{
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #181818;
}

.galireya_matin{
    color: white;
    text-align: center;
}

.galireya_matin h1{
font-size:52px;
margin-bottom: 10px;
}

.galireya__imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
}


.galireya__big__img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   margin-top: 44px;
  
}


.img_mini{
    margin-left: 50px;
}

.galireya__btn{
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-color: white;
    border-radius: 1px 1px 10px;
    color: white;
    margin-top:50px ;

}

.galireya__btn__box{
    text-align: center;
}